<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id='TightVNC'
             Title='TightVNC'
             Description='TightVNC includes two components, Server and Viewer. Both are installed by default.'
             Display='expand'
             Level='1'
             ConfigurableDirectory='INSTALLDIR'>
      <?ifndef SERVER_FREE ?>
      <Feature Id='Server'
               Title='TightVNC Server'
               Description='TightVNC Server makes this computer available for remote viewers.'
               Level='1'>
        <ComponentRef Id='ServerExe' />
        <ComponentRef Id='SasDll' />
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='ServerMenuDir' />
        <ComponentRef Id='ServiceMenuDir' />
        <ComponentRef Id='tvnserverFirewallException'/>
        <ComponentRef Id='LogFolderPermissions'/>
      </Feature>
      <?endif?>
      <?ifndef VIEWER_FREE ?>
      <Feature Id='Viewer'
               Title='TightVNC Viewer'
               Description='TightVNC Viewer is used to view and control remote computers.'
               Level='1'>
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='ViewerExe' />
        <ComponentRef Id='ViewerFileAssoc' />
        <ComponentRef Id='TvnviewerFirewallException'/>
        <ComponentRef Id='LogFolderPermissions'/>
      </Feature>
      <?endif?>
      <!-- Always installing component -->
        <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id='UrlComponent'/>
      <ComponentRef Id='LicenseFileComponent'/>
    </Feature>
  </Fragment>
</Wix>
